<div class="admin-container">
    <header class="admin-header">
      <h1><i class="fas fa-utensils"></i> Gestión de Productos</h1>
    </header>
  
    <div class="admin-main">
      <div class="toolbar">
        <button class="btn-primary" >
          <i class="fas fa-plus"></i> Nuevo Producto
        </button>
        
        <div class="category-filter">
          <label for="category">Filtrar por categoría:</label>
          <select id="category" (change)="onCategoryChange($event)">
            <option value="all">Todas</option>
            <option value="comida">Comida</option>
            <option value="bebida">Bebidas</option>
            <option value="postre">Postres</option>
          </select>
        </div>
        
        <div class="search-box">
          <input type="text" placeholder="Buscar productos..." 
                 (input)="onSearchChange($event)">
          <i class="fas fa-search"></i>
        </div>
      </div>
  
      <!-- <app-product-list 
        [products]="filteredProducts" 
        (delete)="onProductDeleted()">
      </app-product-list>
  
      <app-product-form 
        #productForm
        (productCreated)="onProductCreated()">
      </app-product-form> -->
    </div>
  </div>